Repository pingcap/tispark, pull requests merged in 2018-03, with the labels that each got.

#252 fix parse exception when table name contains symbols.
  core/src/main/scala/org/apache/spark/sql/TiContext.scala
  core/src/test/scala/org/apache/spark/sql/BaseTiSparkSuite.scala
  core/src/test/scala/org/apache/spark/sql/TiDBMapDatabaseSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ComplexAggregateSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/LogicalAndOr0Suite.scala
Labels: reviewable, test passed

#250 Fix error handler invalidate issue
  tikv-client/src/main/java/com/pingcap/tikv/TiConfiguration.java
  tikv-client/src/main/java/com/pingcap/tikv/exception/GrpcNeedRegionRefreshException.java
  tikv-client/src/main/java/com/pingcap/tikv/operation/KVErrorHandler.java
  tikv-client/src/main/java/com/pingcap/tikv/operation/iterator/DAGIterator.java
  tikv-client/src/main/java/com/pingcap/tikv/policy/RetryPolicy.java
Labels: LGT1, reviewable, test passed

#244 Add statistics information module
  README.md
  core/src/main/scala/com/pingcap/tispark/TiConfigConst.scala
  core/src/main/scala/com/pingcap/tispark/TiDBRelation.scala
  core/src/main/scala/com/pingcap/tispark/TiTableReference.scala
  core/src/main/scala/com/pingcap/tispark/TiUtils.scala
  core/src/main/scala/com/pingcap/tispark/statistics/StatisticsHelper.scala
  core/src/main/scala/com/pingcap/tispark/statistics/StatisticsManager.scala
  core/src/main/scala/org/apache/spark/sql/TiContext.scala
  core/src/main/scala/org/apache/spark/sql/TiStrategy.scala
  core/src/test/scala/org/apache/spark/sql/benchmark/TPCHQuerySuite.scala
  core/src/test/scala/org/apache/spark/sql/statistics/StatisticsManagerSuite.scala
  core/src/test/scala/org/apache/spark/sql/test/SharedSQLContext.scala
  docs/userguide.md
  tikv-client/pom.xml
  tikv-client/src/main/java/com/pingcap/tikv/example/IndexScanExample.java
  tikv-client/src/main/java/com/pingcap/tikv/meta/TiDAGRequest.java
  tikv-client/src/main/java/com/pingcap/tikv/meta/TiTableInfo.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/IndexRange.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/ScanAnalyzer.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/ScanSpec.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/SelectivityCalculator.java
  tikv-client/src/main/java/com/pingcap/tikv/region/RegionStoreClient.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/Bucket.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/CMSketch.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/ColumnStatistics.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/Histogram.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/IndexStatistics.java
  tikv-client/src/main/java/com/pingcap/tikv/statistics/TableStatistics.java
  tikv-client/src/test/java/com/pingcap/tikv/predicates/ScanAnalyzerTest.java
Labels: reviewable, test passed

#267 Fix statistics compatibility
  core/src/main/scala/com/pingcap/tispark/statistics/StatisticsHelper.scala
  core/src/main/scala/com/pingcap/tispark/statistics/StatisticsManager.scala
  tikv-client/src/main/java/com/pingcap/tikv/meta/TiDAGRequest.java
Labels: reviewable, test passed

#275 fix prefix index key range
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/statistics/StatisticsManagerSuite.scala
  tikv-client/src/main/java/com/pingcap/tikv/expression/ComparisonBinaryExpression.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/IndexRangeBuilder.java
  tikv-client/src/main/java/com/pingcap/tikv/key/TypedKey.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/PredicateUtils.java
  tikv-client/src/main/java/com/pingcap/tikv/predicates/ScanAnalyzer.java
  tikv-client/src/main/java/com/pingcap/tikv/types/BytesType.java
  tikv-client/src/main/java/com/pingcap/tikv/types/DataType.java
  tikv-client/src/test/java/com/pingcap/tikv/predicates/PredicateUtilsTest.java
  tikv-client/src/test/java/com/pingcap/tikv/predicates/ScanAnalyzerTest.java
Labels: reviewable, test passed

#276 Change downgrade index scan range merge logic
  tikv-client/src/main/java/com/pingcap/tikv/util/KeyRangeUtils.java
Labels: reviewable, test passed

#277 Limit recursive call depth
  tikv-client/src/main/java/com/pingcap/tikv/operation/iterator/DAGIterator.java
Labels: help wanted

#291 Fix prefix index ranges
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/IndexRangeBuilder.java
Labels: reviewable, test passed

#297 TISPARK-16 fix excessive dag columns
  core/src/main/scala/org/apache/spark/sql/TiStrategy.scala
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
Labels: reviewable, test passed
