Repository pingcap/tispark, pull requests merged in 2018-04, with the labels that each got.

#289 TISPARK-11 Support LIKE function push down
  core/src/main/scala/com/pingcap/tispark/BasicExpression.scala
  core/src/main/scala/com/pingcap/tispark/TiUtils.scala
  core/src/test/scala/org/apache/spark/sql/BaseTiSparkSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/LikeTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/PrefixIndexTestSuite.scala
  tikv-client/src/main/java/com/pingcap/tikv/expression/StringRegExpression.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/Visitor.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/DefaultVisitor.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/ExpressionTypeCoercer.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/IndexMatcher.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/IndexRangeBuilder.java
  tikv-client/src/main/java/com/pingcap/tikv/expression/visitor/ProtoConverter.java
  tikv-client/src/main/java/com/pingcap/tikv/key/TypedKey.java
Labels: reviewable, test passed

#304 TISPARK-21 delete redundant dag column that affects index single read
  core/src/main/scala/org/apache/spark/sql/TiStrategy.scala
  core/src/test/scala/org/apache/spark/sql/BaseTiSparkSuite.scala
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
Labels: reviewable

#309 [TISPARK-22] Add wrapper for exception handling
  tikv-client/src/main/java/com/pingcap/tikv/PDClient.java
  tikv-client/src/main/java/com/pingcap/tikv/catalog/Catalog.java
Labels: reviewable, test passed

#317 [TISPARK-26] fix binary test and delete redundant issue tests
  core/src/main/scala/com/pingcap/tispark/statistics/StatisticsHelper.scala
  core/src/test/scala/org/apache/spark/sql/AlterTableTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/BaseTiSparkSuite.scala
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/QueryTest.scala
  tikv-client/src/main/java/com/pingcap/tikv/expression/TypeBlacklist.java
  tikv-client/src/main/java/com/pingcap/tikv/types/DataTypeFactory.java
Labels: P0, reviewable, test passed

#318 delete unused ExprType
  tikv-client/src/main/java/com/pingcap/tikv/types/YearType.java
  tikv-client/src/main/java/com/pingcap/tikv/util/ScalarFuncInferrer.java
Labels: reviewable, test passed

#327 Add tests for unsigned data types
  core/src/test/scala/org/apache/spark/sql/BaseTiSparkSuite.scala
  core/src/test/scala/org/apache/spark/sql/IssueTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/QueryTest.scala
  core/src/test/scala/org/apache/spark/sql/expression/Aggregate0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ArithmeticAgg0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ArithmeticTest0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ArithmeticTest1Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ArithmeticTest2Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/Between0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/CartesianTypeTestCases0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/CartesianTypeTestCases1Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/CartesianTypeTestCases2Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ComplexAggregateSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/ComplexGroupBySuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/Count0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/Distinct0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/FirstLast0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/Having0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/InTest0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/LikeTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/LogicalAndOr0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/OtherTestSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/PlaceHolderTest0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/PlaceHolderTest1Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/PlaceHolderTest2Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/PlaceHolderTest3Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/SimpleSelect0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/Union0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/Aggregate0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/Between0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/ComprehensiveSuite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/CoveringIndex0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/InTest0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/Join0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/PlaceHolder0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/PlaceHolder1Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/PlaceHolder2Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/Special0Suite.scala
  core/src/test/scala/org/apache/spark/sql/expression/index/UnsignedTestSuite.scala
Labels: reviewable, test passed
